.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* Estilos para o menu */
.menu {
    background-color: #333;
    overflow: hidden;
}

.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #111;
}

/* Estilos para o menu responsivo */
@media screen and (max-width: 600px) {
    .menu a {
        float: none;
        display: block;
        text-align: left;
    }
}